* {
    font-family: 'Oswald', sans-serif;
}

html, body {
    height: 100%;
    max-width: 2000px;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

/* Heart SVG in navbar-brand */
.heart {
    fill: red;
    position: relative;
    top: 5px;
    width: 50px;
    animation: pulse 1s ease infinite;
  }
  
  @keyframes pulse {
    0% { transform: scale(.5); }
    50% { transform: scale(1); }
    100% { transform: scale(.5); }
  }

.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
}

/* Typewriter effect */

.typewriter p {
    color: #000;
    font-family: monospace;
    font-size: 2rem;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives scrolling effect as typing occurs */
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(33, end),
      blink-caret .5s step-end infinite;
}
  
/* Typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* Typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

.summary {
    font-size: 17px;
}

#projects {
    max-width:2000px;
    margin: auto; /* center aligned */
    padding:0;
    font-size:0; /* change to normal font size if have captions */
    list-style:none;
    background-color:#FFF;
}
#projects li {
    display: inline-block;
    *display:inline; /* for IE6 - IE7 */
    width:50%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
        
/* Wrapper for each item */
.cell {
    margin: 2px;
    box-shadow:0 0 8px rgba(0,0,0,0.3);
    display:block;
    position: relative;
    overflow:hidden;
}
        
/* Image layer */
.img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#projects li:hover .img {
    transform:scale(1.05);
}
        
/* Overlay layer */
.overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #FFF;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/* For IE6 - IE8 */
    transition:all 0.6s;
}
#projects li:hover .overlay {
    opacity:0.8;
}

/* For captions */
.text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    font-size:18px;
    top:40%;
    color: #000;
    opacity:0;
    filter:alpha(opacity=0);/* For older IE */
    transform:translateY(-20px);
    transition:all .3s;
}
#projects li:hover .text {
    transform:translateY(0px);
    opacity:0.9;
}

/* Back to top */
.back-to-top {
    background-color: #000000;
    color: #FFFFFF;
    opacity: 0;
    transition: opacity .6s ease-in-out;
    z-index: 999;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 0%;
}

a.back-to-top {
    font-weight: 1000;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
    padding-left: 2px;
    padding-top: 14px;
}

.back-to-top:hover, .back-to-top:focus, .back-to-top:visited {
    color: #FFFFFF;
}

.back-to-top.show {
    opacity: 1;
}

.footer {
    flex-shrink: 0;
}
  
/* Larger screens */
@media (max-width: 2000px) and (min-width: 1300px) {
    #projects li {
        width:25%;
    }

    .text {
        font-size: 14px;
    }
}

/* Medium screens */
@media (min-width: 800px) and (max-width: 1299px) {
    /* Typewriter effect */
    .typewriter p {
        font-size: 1.25rem;        
    }
    
    #projects li {
        width:50%;
    }

    .text {
        font-size: 16px;
    }
}

/* Smaller screens */
@media (max-width: 799px) {
    /* Typewriter effect */
    .typewriter p {
        font-size: .90rem;
    }
        
    #projects li {
        width:100%;
    }

    .text {
        font-size: 16px;
    }
}